<p>first works!</p>
Getting Started This page is an overview of the React documentation and related
resources. React is a JavaScript library for building user interfaces. Learn
what React is all about on our homepage or in the tutorial. Try React Learn
React Staying Informed Versioned Documentation Something Missing?
<nav>
  <ul>
    <li>
      <a routerLink="childA/123">Child A</a>
    </li>
    <li>
      <a routerLink="childB">Child B</a>
    </li>
  </ul>
</nav>
<nav>
  <ul>
    <li>
      <a routerLink="../second">Second component</a>
    </li>
  </ul>
</nav>
<button (click)="goToChildA()">Route To ChildA</button>
<router-outlet></router-outlet>
